html, body{
    height: 1500px;
}


.wishlist{
    position: relative;
    top: 10%;
    width: 75%;
    height: 50%;
}

.order-form{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 30%;
}

.order-form .title{
    cursor: pointer;
    width: 180px;
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-form div{
    color: rgb(121, 121, 121);
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.order-form .list{
    display: none;
    width: 13%;
    height: 65%;
    margin: 0;
    z-index: 8;
    padding: 10px;
    background-color: rgb(44, 44, 44);
}

.order-form ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.order-form li{
    padding: 3px;
    margin: 0;
}

.order-form button{
    margin: 0;
    padding: 0;
    background-color: rgb(44,44,44);
    color: rgb(121, 121, 121);
    cursor: pointer;
}

.order-form button:hover{
    -webkit-transition: text-decoration 0.3s;
    -webkit-transition: color 0.3s;
    text-decoration: underline;
    color: white;
}

.order-form #selected{
    transform: rotate(180deg);
}

.order-form .list button{
    border: none;
}



.wishlist-games{
    position: relative;
    bottom: 24%;
    z-index: 7;
    display: flex;
    flex-direction: column;
}

.wishlist-games ul{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.wishlist-games ul li {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.wishlist-game{
    
    display: flex;
    justify-content: space-between;
    margin: 1% 0 1% 0;
    height: 100%;
}

.wishlist-game a{
    background-color: rgb(44, 44, 44);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    -webkit-transition: background-color 0.3s;
}

.wishlist-game a:hover{
    -webkit-transition: background-color 0.3s;
    background-color: rgb(66, 66, 66);
}


.image-and-title{
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
}

.wishlist-image{
    display: flex;
    width: 40%;
    height: 100%;
}

.wishlist-title{
    padding: 0 0 0 5%;
    font-size: 14px;
}

.price-and-button{
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: space-around;
}

.wishlist-price{
    font-size: 14px;
}

.wishlist-image img{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
