footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    height: 550px;
    padding: 0;
    background-color: rgb(44, 44, 44);
    padding-top: 30px;

}

.footer>div{
    width: 90%;
    padding: 0;
    margin: 0;
}

.footer-logo-box{
    display: flex;
    justify-content: space-between;
    width: 10%;
    height: 20%;
    padding: 0;
    margin: 0;
}


.footer-logo-box .logo-images{
    display: flex;
    height: 100%;
    width: 12%;
}
.footer-logo-box .logo-images a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.footer-logo-box .logo-images i{
    text-align: center;
    width: 100%;
    height: 100%;
}

.footer-logo-box i:hover{
    -webkit-transition: color 0.3s;
    color: royalblue;
}
.footer-logo-box .go-to-top {
    width: 5%;
}

.footer-table-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    margin-top: 100px;
}

.footer-table-box>div{
    padding: 0;
    margin: 0;
}

.tables-box{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.table-head td{
    color: rgb(129, 129, 129);
    font-size: 11px;
}

.tables-box td{
    margin: 0;
    padding: 1%;
    width: 10%;
}

.tables-box a{
    width: 100%;
}

.tables-box span{
    font-size: 12px;
}
.tables-box a:hover span{
    -webkit-transition: color 0.3s;
    color: royalblue;
}

.tables-box span{
    width: 100%;
    
    text-align: left;
}

.table-box-text p{
    text-align: right;
    font-size: 10px;
}

.hr{
    height: 12%;
}

.footer-copyright-box{
    display: flex;
    justify-content: flex-start;
    height: 25%;
    font-size: 12px;
}

.footer-copyright-box p{
    letter-spacing: 1px;
    width: 50%;
    font-size: 10px;
}


.footer-support-box{
    display: flex;
    justify-content: space-between;
    height: 15%;
}

.footer-support-box img{
    width: 100%;
    height: 100%;
}

.support-box-links{
    display: flex;
    width: 30%;
    justify-content: space-between;
    font-size: 12px;
    
}

.support-box-links a:hover{
    -webkit-transition: color 0.3s;
    color: royalblue;
}

.support-box-logos{
    display: flex;
    padding: 0;
    margin: 0;
    width: 10%;
    height: 100%;
}

.support-box-logos a{
    width: 80%;
    height: 100%;
}

.support-box-logos img{
    height: 30px;
    width: 30px;
}

.support-box-logos a:hover img{
    -webkit-transition: filter 0.x3s;
    filter: contrast(0.5);
}