html, body{
    height: 4000px;
}

.game{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 5%;
    height: 70%;
    width: 75%;
    border-top: 1px solid rgb(73, 73, 73);
}   


.game-spec{
    height: 25%;
    width: 75%;
    margin-top: 15%;
}

.game-title{
    font-size: 32px;
    padding-bottom: 3%;
    padding-top: 3%;
}

.game-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 65%;
}

.slide-image{
    position: relative;
    display: none;
}

.slide-image img{
    width: 100%;
}

.slide-image.active{
    -webkit-transition: opacity 0.3s;
    opacity: 1;
    display: block;
}
.game-slide-dots{
    display: flex;
    justify-content: center;
    height: 5%;
    padding-bottom: 3%;
}

.game-slide-dots ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.game-slide-dots .dot{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21%;
    width: 1.5%;
    background-color: rgb(66, 66, 66);
    border-radius: 100000px;
    margin: 1%;
    cursor: pointer;
    -webkit-transition: background-color 0.5s;
}

.dot:hover {
    -webkit-transition: background-color 0.5s;
    background-color: rgb(121, 121, 121);
}

.dot.selected {
    background-color: rgb(121, 121, 121);
}

.side-dot{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 2%;
    border-radius: 100000px;
    margin: 1%;   
    cursor: pointer;
}

.side-dot div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color:  rgb(66, 66, 66);
    font-size: 25px;
    padding-left: 3%;
    padding-right: 3%;
    -webkit-transition: color 0.5s;
}

.side-dot:hover div{
    -webkit-transition: color 0.5s;
    color: rgb(121, 121, 121);
}

.game-text{
    margin: 0;
    padding: 0;
    padding-bottom: 3%;
}

.game-text p{
    font-size: 18px;
    font-weight: lighter;
}

.game-attr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;

}

.game-attr .attr-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgb(66, 66, 66);
    width: 33%;
    height: 80%;
    padding-left: 2%;
}

.game-attr .attr-tags{
    margin: 0;
    padding: 0;
    display: flex;
}

.attr-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.attr-content .attr-title{
    color: rgb(121, 121, 121);
    font-size: 14px;
    margin-bottom: 5%;
}

.attr-content .attr-name{
    font-size: 12px;
    margin-bottom: 5%;
}

.game-aside{
    position: relative;
    left:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9%;
    height: 40%;
    width: 30%;
}

.game-aside-image{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 15%;
    padding-bottom: 25%;
}

.game-aside-image img{
    width: 40%;
}

.game-aside-price{
    width: 100%;
    text-align:left;
    padding: 3% 0 3% 0;
    font-size: 12px;
}

.game-aside-download{
    padding: 3% 0 3% 0;
    width: 100%;
    height: 10%;
}

.game-aside-download .download-button{
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: rgb(120, 120, 204);
    border: none;
    border-radius: 5px;
    font-size: 12px;
    -webkit-transition: background-color 0.3s;
}

.game-aside-download .download-button:hover{
    -webkit-transition: background-color 0.3s;
    background-color: rgb(150, 150, 199);
}

.game-aside-wishlist{
    padding: 3% 0 3% 0 ;
    width: 100%;
    height: 7%;
}

.game-aside-wishlist .wishlist-button{
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: rgb(17, 17, 17);
    border-radius: 5px;
    font-size: 12px;

}

.game-aside-wishlist .wishlist-button:hover{
    -webkit-transition: background-color 0.3s;
    background-color: rgb(121, 121, 121);
}

.game-aside-rating{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
}

.my-rating{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    font-size: 12px;
    width: 100%;
}

.my-rating span, .avg-rating span{
    display: flex;
    justify-content: center;
    border: 1px solid rgb(121, 121, 121);
    border-radius: 10%;
    width: 10%;
    margin-left: 2%;
}

.avg-rating span{
    margin-left: 6%;
}
.avg-rating{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
    font-size: 12px;
}

.stars{
    margin-top: 3%;
    height: 30%;
}

.game-aside-rating .fa-star{
    cursor: pointer;
}

.game-aside-rating .fa-star.checked{
    color: rgb(150, 150, 199);
}
.game-reviews{
    padding-top: 8%;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 50%;
}
.reviews-form{
    position: relative;
    z-index: 9;
    width: 100%;
    height: 300px;
    border: 1px solid rgb(121, 121, 121);
    border-radius: 10px;

}

.reviews-form form{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    
}
/* .reviews-form form div{
    border: 1px solid green;
} */

.reviews-form input{
    border: none;
    height: 50%;
    font-size: 12px;
    font-weight: lighter;
}

.review-form-writer{
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
}

.review-form-writer input{
    text-align: center;
    width: 100%;
    background-color: rgb(44, 44, 44);
}

.review-form-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 71.4%;
    height: 100%;

}

.review-form-content input{
    text-align: center;
    width: 80%;
    border-radius: 5px;
}
.review-form-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
}
.review-form-button button{
   height: 60%;
    width: 70%;
    font-size: 10px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    background-color: rgb(120, 120, 204);
    letter-spacing: 1px;
}







.review-head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: 4%;
}

.game-reviews ul{
    margin: 0;
    padding: 1% 0 1% 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: rgb(44,44,44);
}

.game-reviews ul li{
    margin: 0;
    padding: 0;
    width: 80%;
    height: 5%;
    display: flex;
    border-bottom: 1px solid rgb(121, 121, 121);
    margin-top: 3%;
}

.game-reviews ul li>div{
    font-size: 12px;
    text-align: left;
    font-weight: lighter;
    display: flex;
    justify-content: center;
}

.game-reviews .writer{
    width: 10%;
}

.game-reviews .content{
    width: 50%;
} 

.game-reviews .regdate{
    width: 20%;
}

.game-reviews .likes{
    width: 10%;
}

.game-reviews .buttons{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 20%;
}

.game-reviews .buttons button{
    height: 60%;
    width: 40%;
    font-size: 10px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    
}


.game-reviews .buttons .delete-button{
    background-color: rgb(17, 17, 17);
}

.game-reviews .buttons .like-button{
    
    background-color: rgb(120, 120, 204);
}

.game-reviews .buttons like-button:hover{
    /* -webkit-transition: background-color 0.3s; */
    background-color: rgb(150, 150, 199);
}


.game-reviews .buttons delete-button:hover{
    -webkit-transition: background-color 0.3s;
    background-color: rgb(73, 73, 73)
}
 
.reviews-head>div{
    color: rgb(121,121, 121);
    font-size: 12px;
}



.spec{
    position: relative;
    margin: 10% 0 4% 0;
    width: 100%;
    font-size: 24px;
    z-index: 8;
}

.game-spec{
    z-index: 8;
    position: relative;
    display: flex;
    flex-direction: column  ;
    width: 80%;
    padding: 10%;
    height: 20%;
    margin: 0;
    background-color: rgb(44, 44, 44);
}

.spec-head{
    padding: 2% 0 2% 0;
    font-size: 12px;
    font-weight: bold;
}

.spec-head hr{
    border: 1px solid rgb(121, 121, 121);
}

.spec-content{
    display: flex;
    justify-content: space-between;
}

.content-box{
    width: 45%;

}

.content-box div{
    padding:2% 0 2% 0;
    display: flex;
    flex-direction: column;
}
.content-box-head{
    font-size: 14px;
    color: rgb(121, 121, 121);
}

.spec-title{
    color: rgb(121, 121, 121);
}

.spec-content{
    font-size: 14px;
}

