<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.mapper.GameMapper">

	<resultMap type="com.green.domain.GameVO" id="gameMap">
		
		<id property="gno" column="gno"/>
		<result property="gno" column="gno"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="price" column="price"/>
		<result property="isOnSale" column="isOnSale"/>
		<result property="regDate" column="regDate"/>
		<result property="cno" column="cno"/>
		<result property="ageLimit" column="ageLimit"/>
		<result property="userid" column="userid"/>

		<association property="specvo" javaType="com.green.domain.SpecVO">
			<id property="sno" column="sno"/>
			<result property="sno" column="sno"/>
			<result property="os" column="os"/>
			<result property="cpu" column="cpu"/>
			<result property="gpu" column="gpu"/>
			<result property="ram" column="ram"/>
			<result property="language" column="language"/>
			<result property="gno" column="gno"/>
		</association>
		
		<association property="companyvo" javaType="com.green.domain.CompanyVO">
			<id property="cno" column="cno"/>
			<result property="cno" column="cno"/>
			<result property="company" column="company"/>
			<result property="country" column="country"/>
		</association>
		
		<association property="tagvo" javaType="com.green.domain.TagVO">
			<id property="tno" column="tno"/>
			<result property="tno" column="tno"/>
			<result property="tagName" column="tagName"/>
			<result property="gno" column="gno"/>
		</association>
		
		<association javaType="com.green.domain.GameResourceVO" property="resourcevo">
			<id property="grno" column="grno"/>
			<result property="grno" column="grno"/>
			<result property="logo" column="logo"/>
			<result property="titlePicture" column="titlePicture"/>
			<result property="video" column="video"/>
			<result property="gno" column="gno"/>
		</association>
		
		<collection property="reviewList" resultMap="reviewMap" />
		<collection property="warningList" resultMap="warningMap" />
		<collection property="pictureList" resultMap="pictureMap"></collection>
	</resultMap>
	
	<resultMap type="com.green.domain.ReplyVO" id="reviewMap">
		<id property="rno" column="rno"/>
		<result property="rno" column="rno"/>
		<result property="gno" column="gno"/>
		<result property="content" column="content"/>
		<result property="likes" column="likes"/>
		<result property="regDate" column="regDate"/>
		<result property="updateDate" column="updateDate"/>
		<result property="userid" column="userid"/>
	</resultMap>
	
	
	
	<resultMap type="com.green.domain.WarningVO" id="warningMap">
		<id property="wano" column="wano"/>
		<result property="wano" column="wano"/>
		<result property="warning" column="warning"/>
		<result property="gno" column="gno"/>
	</resultMap>
	
	
	
	<resultMap type="com.green.domain.GamePictureVO" id="pictureMap">
		<id property="gpno" column="gpno"/>
		<result property="" column="gpno"/>
		<result property="contentPicture" column="contentPicture"/>
		<result property="grno" column="grno"/>
	</resultMap>
	
	<select id="read" resultMap="gameMap">
		   	select g.gno, m.userid, g.cno, g.title, g.content ,g.price , g.isOnSale ,g.regDate, g.ageLimit, 
		   		t.tagName, s.os, s.gpu, s.cpu, s.language, s.ram, c.company, c.country,
		   		 gp.logo, gp.titlePicture, gp.video, gp.contentPicture
		    from tbl_games g
				left outer join tbl_tag t on g.gno = t.gno
				left outer join tbl_spec s on g.gno = s.gno
				left outer join tbl_company c on g.cno = c.cno
				left outer join tbl_member m on g.userid = m.userid
				left outer join (
					select r.gno, r.logo, r.titlePicture, r.video, p.contentPicture, p.grno 
					from tbl_games_resources r
					left outer join tbl_games_pictures p on r.grno = p.grno
				) gp on gp.gno = g.gno
				where g.title = #{title}
	</select>
	
	<select id="game" resultType="com.green.domain.GameVO">
		select *from tbl_games where gno = #{gno}
	</select>
	
	<update id="updateReplyCnt">
		update tbl_games set replycnt = replyCnt + #{amount} where gno = #{gno}
	</update>
	
	<select id="getList" resultType="com.green.domain.GameVO">
		select title from tbl_games
	</select>
	
	<insert id ="register">
		insert into tbl_games(gno, title, content, price, ageLimit, cno, regdate, userid) values(seq_games.nextval, #{title}, #{content}, #{price}, #{ageLimit},
		<choose>
			<when test="cno != null">
				#{cno}	
			</when>
			<otherwise>
				seq_company.currval	
			</otherwise>
		</choose>
		 , sysdate, #{userid})
	</insert>
	
	<update id="modify">
			update tbl_games set title=#{title}, content=#{content}, price=#{price}, ageLimit = #{ageLimit}
			
			<if test="cno != null">
				, cno = #{cno}
			</if>
		
			 where gno = #{gno}
	</update>
	
	<delete id="delete">
		delete from tbl_games where gno = #{gno}
	</delete>
	
	<select id="count" resultType="Integer" parameterType="String">
		select count(*) from tbl_games where title = #{title}
	</select>

</mapper>