<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapeer 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.mapper.GamePictureMapper">
	
	<insert id="register" parameterType= "com.green.domain.GamePictureVO">
		
		insert into tbl_games_pictures(gpno, contentPicture, grno) 
		values(seq_games_pictures.nextval, #{contentPicture}, seq_games_resources.currval)
	</insert>
	
	<update id="modify" parameterType= "com.green.domain.GamePictureVO">
		
		update tbl_games_pictures set contentPicture = #{contentPicture}
		where gno = #{gno}
		
	</update>
</mapper>