<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.mapper.LikeMapper">
	<select id="read" parameterType="map" resultType="com.green.domain.LikeVO">
		select * from tbl_like where rno = #{rno} and userid = #{userid}
	</select>
	<insert id="insert" parameterType="map">
		insert into tbl_like(like_no, rno, userid) values(seq_like.nextval, #{rno}, #{userid})
	</insert>
	<delete id="delete" parameterType="map">
		delete from tbl_like where rno = #{rno} and userid = #{userid}
	</delete>
	<select id="like_count" resultType="int">
		select count(*) from tbl_like where rno = #{rno}
	</select>
</mapper>