<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.green.mapper.TagMapper">
	<insert id ="register">
		insert into tbl_tag(tno, tagName, gno) values(seq_tag.nextval, #{tagName}, seq_games.currval)
	</insert>
	
	<update id="modify">
			update tbl_tag set tagName=#{tagName} where gno = #{gno}
	</update>
</mapper>