html, body{
    background-color: white;
    height: 1800px;
}

.news-get{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 8%;
    width: 75%;
    height: 55%;
    align-items: center;
}

.news-get-image{
    width: 100%;
    height: 60%;
}

.news-get-image img{
    width: 100%;
}

.news-get-content{
    display: flex;
    justify-content: center;
    height: 30%;
    width: 80%;
}

.news-get-content p{
    color: rgb(121, 121, 121);
    font-weight: bold;
    font-size: 16px;
}
