html, body{
    background: linear-gradient(to right, rgb(230, 240, 240), rgb(250 , 240, 240)) !important;
    height: 1800px;
}

.news-get{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 8%;
    width: 69% !important;
    height: 55% !important;
    align-items: center;
}

.news-get img{
    width: 100%;
}

.news-get-content{
    display: flex;
    justify-content: center;
    height: 30%;
    width: 80%;
}

.news-get-content p{
    color: rgb(121, 121, 121);
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    width: 100%;
    display: block;
    word-wrap: break-word;
    
}

#addButoon {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 5%;
}

button {
	border: none;
	border-radius: 5%;
	background-color: rgb(120, 120, 204);
	width:10%;
	height:100%;
	cursor: pointer;
	-webkit-transition: background-color 0.3s
}

button:hover {
	-webkit-transition: background-color 0.3s;
	background-color: rgb(150, 150, 199);
}
