html, body{
    height: 1800px;
}

.game-register{
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 10%;
    width: 75%;
    height: 40%;  
    
}
.game-register *{
    color: rgb(121, 121, 121);
}

.input-title{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.input-form{
    display: flex;
    width: 90%;
    height: 100%;
}
input, textarea, select {
    font-size: 11px;
    width: 20%;
    border: none;
    border-radius: 5px;
    background-color: rgb(17, 17, 17);
}
input{
    width: 30%;
    height: 30px;
    
}
select {
    width: 30%;
    height: 30px;
}

textarea{
    padding-top: 1%;
    width: 30%;
    margin-top: 0.5%;
}

.input-form form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.input-title>div{
    border-left: 1px solid rgb(78, 78, 78);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(28, 28, 28);
    display: flex;
    padding-left: 10%;

}

.game-register form>div{
    border-right: 1px solid rgb(78, 78, 78);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(28, 28, 28);
    padding: 0;
    margin: 0;
}
.form-input{
    height: 15%;
}

.form-input:focus{
}

.form-input>*{
    margin-top: 2%;
}

.textarea{
    height: 50%;
}

.textarea>*{
    margin-top: 2%;
}

.select{
    height: 7%;
}

.select>*{
    margin-top: 15px;
}

/* .input-form .form-input{
    height: 6.5%;
}

.input-form .textarea{
    height: 20.4%;
}
.input-form .select{
    height: 6.3%;
} */

div[id=titleGameSpec]{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div[id=formGameSpec]{
    display: flex;
    flex-direction: column;

}

div[id=formGameSpec] div{
    height: 15%;

}

div[id=formGameCompany]{
    display: flex;
}
div[id=formGameCompany] *{
    padding-right: 1%;
}

.company-name{
    width: 20%;
}

textarea{
    height: 70%;
}


div[id=formGameCompany] input{
    width: 100%;
    margin: 0;
    padding: 0;
}

div[id=formGameCompany] label{
    padding: 0.3%;
    font-size: 12px;
}

div[id=formGameCompany] .company-input{
    width: 60%;
}

input:focus, textarea:focus{
    outline: none;
}


div[id=formGameTag] button{
    border: none;
    background-color: rgb(17, 17, 17);
    border: 1px solid rgb(121, 121, 121);
    width: 6%;
    border-radius:5%;
    font-size: 12px;
}

div[id=formGameTag] button:hover{

    -webkit-transition: background-color 0.3s;
    background-color: rgb(78, 78, 78);
}

div[id=formGameTag] input{
    width: 90%;
    cursor: default;
    background-color: rgb(17, 17, 17)
}
div[id=formFormButton]{
    background-color: rgb(17, 17, 17);
}

div[id=formFormButton] button{
    margin-right: 10%;
    float: right;
    border: none;
    background-color: rgb(17, 17, 17);
    border: 1px solid rgb(121, 121, 121);
    width: 10%;
    height: 30%;
    border-radius:5%;
    font-size: 12px;
    cursor: pointer;
}
div[id=formFormButton] button:hover{

    -webkit-transition: background-color 0.3s;
    background-color: rgb(78, 78, 78);
}

.input-title span{
    margin-top: 10%;
}